<div class="col-lg-12 col-md-12 col-sm-6">
	<div class="no-padding">
		<span class="title">BEST SELLERS</span>
	</div>
	<div class="hero-feature">
		<%= render partial: "shared/product_thumbnail", locals: {product: Product.last} %>
	</div>
	<div class="hero-feature hidden-sm">
		<%= render partial: "shared/product_thumbnail", locals: {product: Product.first} %>
	</div>
</div>