<div class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
	<div class="no-padding">
		<span class="title">BEST SELLERS</span>
	</div>
	<div class="hero-feature">
		<% unless Rails.env.development? || Rails.env.test? %>
		<%= render partial: "shared/product_thumbnail", locals: {product: Product.find_by(name: "Lily The Lady Bug")} %>
		<% end %>
	</div>
	<div class="hero-feature hidden-sm">
		<% unless Rails.env.development? || Rails.env.test? %>
		<%= render partial: "shared/product_thumbnail", locals: {product: Product.find_by(name: "Queenie The Bee")} %>
		<% end %>
	</div>
</div>