$("#submit_spinner").hide();
$(".payment_info_first_part :input").attr("disabled", false);
$(".payment_info_second_part :input").attr("disabled", true);

$(".payment_info_errors").empty();
$(".payment_info_errors").append("<li><%= @usaepay.result %></li>");
$(".payment_info_errors").append("<li><%= @usaepay.error %></li>");

jQuery('html,body').animate({scrollTop:0},300);