    <div class="container main-container">
        <div class="row">
        	<div class="col-lg-3 col-md-3 col-sm-12">

				<!-- RECENT PRODUCT -->
				<div class="col-lg-12 col-md-12 col-sm-12 visible-lg visible-md">

		                <%= render "shared/best_seller" %>
				</div>
				<!-- End RECENT PRODUCT -->

        	</div>

        	<div class="clearfix visible-sm"></div>

			<!-- Cart -->
        	<div class="col-lg-9 col-md-9 col-sm-12">
        		<div class="col-lg-12 col-sm-12">
            		<span class="title">ABOUT US</span>
            	</div>
	            <div class="col-lg-12 col-sm-12 hero-feature">
	            	<h4>Enter a new world from within your living room</h4>
					<p>Toddler Tents is a small family owned company committed to providing children's tents for recreational use. We strive to provide quality tents with creative designs so that kids can role play and create their own worlds straight from home. </p>

					<h4>Create unforgettable memories for both your child and yourself</h4>
					<p>Here at Toddler Tents we strongly believe that toddlers and the like should be allowed to let their imaginations run wild. We provide a variety of collections to fit the myriad personalities of your growing children.</p>
					<p>Tell your infant to put away her iPad, because the best way to have fun is still the old fashion way. Let your kids crawl around and feel a camping experience (minus the bugs and long car ride) from inside your living room.</p>
					<p>Our products are all made in the United States. We've brought manufacturing home, where we can control quality and provide the best experience for you, the parents who deserve it! </p>
	            </div>
        	</div>
        	<!-- End Cart -->


        </div>
	</div>