/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */


.sorted_product_image_list li, .sorted_product_mens_color_list li, .sorted_product_womens_color_list li {
	list-style: none;
	display: inline-block;
}

.sorted_product_mens_color_list li, .sorted_product_womens_color_list li {
	margin: 0 5px 0 5px;
	padding: 5px;
	border: 2px solid black;
}

.inline_block {
	display: inline-block;
}

.product_multiselect {
	width: 200px;
}

.variant_container {
	display: inline-block;
}

.ui-widget-content {
	background-color: rgb(237,237,237);
}