<h1>Vendors</h1>

<%= link_to "New Vendor", new_admin_vendor_path %>

<%= will_paginate @vendors %>
<table>
	<thead>
<th>ID</th>
<th>Name</th>
</thead>
<% @vendors.each do |vendor| %>
<tr>

	<td><%= link_to vendor.id, edit_admin_vendor_path(vendor) %></td>
	<td><%= vendor.name %></td>

</tr>
<% end %>
</table>